@tailwind base;
@tailwind components;
@tailwind utilities;
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 40px;
  border: 5px dotted #ffffff;
}
/* styling the swiper arrows */
.swiper-wrapper {
  @apply py-10 px-0
}
.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-black-text font-bold;
}
