@tailwind base;
@tailwind components;
@tailwind utilities;
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 40px;
  border: 5px dotted #ffffff;
}
/* styling the swiper arrows */
.swiper {
  position: relative !important;
}
.swiper-wrapper {
  @apply py-20 px-0;
}
.swiper-pagination-bullet-active {
  background: #000 !important;
}
.swiper-button-next {
  background-image: url("../../public/arrow-right.svg") !important;
  background-size: cover !important;
  position: absolute !important;
  left: 50px !important;
  top: 25px !important;
  width: 50px !important;
  height: 50px !important;
  overflow: hidden !important;
  transition: 0.3s;
}
.swiper-button-next:hover {
  background-image: url("../../public/arrow-right-outline.svg") !important;
}
.swiper-button-prev {
  background-image: url("../../public/arrow-left.svg") !important;
  background-size: cover !important;
  position: absolute !important;
  left: 0 !important;
  top: 25px !important;
  width: 50px !important;
  height: 50px !important;
  overflow: hidden !important;
  transition: 0.3s;
}
.swiper-button-prev:hover {
  background-image: url("../../public/arrow-left-outline.svg") !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
